__pycache__/
*.py[cod]

# do not commit personal data
softball-linear-optimization/inputs
softball-linear-optimization/inputs/*
softball-linear-optimization/outputs
softball-linear-optimization/outputs/*
softball-linear-optimization/outputs_webpages
softball-linear-optimization/outputs_webpages/*

